@charset "UTF-8";
.page-header{
    > h1{
        font-weight: normal;
    }

    > h2{
        font-weight: normal;
        margin-top: 0;
        font-size: rem(18);
        > a{
            text-decoration: none;
            color: color('text', 'dark');
        }

    }
}

.blog{
    background: #fafbfc;

    .items-leading{
        padding: 25px 20px;
    }

    div[class^="leading-"]{
        border-bottom: 1px dotted #cacaca;
        margin-bottom: 20px;
    }

    p{
        font-size: rem(13);
        color: color('text');
        line-height: 1.5;
    }

    .article-info{
        > dd{
            margin-left: 0;
            font-size: rem(12);
        }
    }
}

.content-header{
    .menu{
        padding-left: 0;
        overflow: hidden;
        margin: 0;
        box-shadow: inset 0 -3px 0px #e4e4e4;
        > li{
            float: left;
            list-style: none;

            &.active{
                > a{
                    border-bottom: 3px solid $activeColor;
                    color: $activeColor;

                    &:hover{
                        border-bottom: 3px solid $activeColor;
                    }
                }
            }

            > a{
                font-size: 1.143rem;
                text-decoration: none;
                padding: 18px 0;
                margin-right: 25px;
                display: block;
                color: color('link');
                z-index: 2;
                position: relative;
            }
        }
    }
}